<?xml version="1.0" encoding="utf-8" ?>
<root>
	<Tower>
		<Normal>
			<Lvl1
				Health = "100"
				Range = "5"
				RateOfFire = "3"
				Price = "10"
				Damage = "1"
				SpeedBullet = "5"
				PNO = "true"
				PVO = "false"
				Freeze = "false"
				Strong = "false"
				PVOEnemy = "false"
				Splash = "false"
				Fire = "false">
			</Lvl1> 

			<Lvl2
				Health = "100"
				Range = "5"
				RateOfFire = "3"
				Price = "20"
				Damage = "2"
				SpeedBullet = "5"
				PNO = "true"
				PVO = "false"
				Freeze = "false"
				Strong = "false"
				PVOEnemy = "false"
				Splash = "false"
				Fire = "false">
			</Lvl2>

			<Lvl3
				Health = "100"
				Range = "5"
				RateOfFire = "3"
				Price = "50"
				Damage = "5"
				SpeedBullet = "5"
				PNO = "true"
				PVO = "false"
				Freeze = "false"
				Strong = "false"
				PVOEnemy = "false"
				Splash = "false"
				Fire = "false">
			</Lvl3>

			<Lvl4
				Health = "100"
				Range = "5"
				RateOfFire = "3"
				Price = "100"
				Damage = "10"
				SpeedBullet = "5"
				PNO = "true"
				PVO = "false"
				Freeze = "false"
				Strong = "false"
				PVOEnemy = "false"
				Splash = "false"
				Fire = "false">
			</Lvl4>

			<Lvl5A
				Health = "100"
				Range = "5"
				RateOfFire = "3"
				Price = "200"
				Damage = "10"
				SpeedBullet = "5"
				PNO = "true"
				PVO = "true"
				Freeze = "false"
				Strong = "false"
				PVOEnemy = "true"
				Splash = "false"
				Fire = "false">
			</Lvl5A>

			<Lvl5B
				Health = "100"
				Range = "15"
				RateOfFire = "3"
				Price = "200"
				Damage = "10"
				SpeedBullet = "5"
				PNO = "true"
				PVO = "false"
				Freeze = "false"
				Strong = "false"
				PVOEnemy = "false"
				Splash = "false"
				Fire = "false">
			</Lvl5B>
		</Normal>

		<Freeze>
			<Lvl1
				Health = "100"
				Range = "5"
				RateOfFire = "3"
				Price = "10"
				Damage = "1"
				FreezeTime = "1"
				DecelerationIn = "2"
				SpeedBullet = "5"
				PNO = "true"
				PVO = "false"
				Freeze = "true"
				Strong = "false"
				PVOEnemy = "false"
				Splash = "false"
				Fire = "false">
			</Lvl1>

			<Lvl2
				Health = "100"
				Range = "5"
				RateOfFire = "3"
				Price = "20"
				Damage = "1"
				FreezeTime = "2"
				DecelerationIn = "4"
				SpeedBullet = "5"
				PNO = "true"
				PVO = "false"
				Freeze = "true"
				Strong = "false"
				PVOEnemy = "false"
				Splash = "false"
				Fire = "false">
			</Lvl2>

			<Lvl3
				Health = "100"
				Range = "5"
				RateOfFire = "3"
				Price = "50"
				Damage = "1"
				FreezeTime = "3"
				DecelerationIn = "6"
				SpeedBullet = "5"
				PNO = "true"
				PVO = "false"
				Freeze = "true"
				Strong = "false"
				PVOEnemy = "false"
				Splash = "false"
				Fire = "false">
			</Lvl3>

			<Lvl4
				Health = "100"
				Range = "5"
				RateOfFire = "3"
				Price = "100"
				Damage = "1"
				FreezeTime = "4"
				DecelerationIn = "8"
				SpeedBullet = "5"
				PNO = "true"
				PVO = "false"
				Freeze = "true"
				Strong = "false"
				PVOEnemy = "false"
				Splash = "false"
				Fire = "false">
			</Lvl4>

			<Lvl5A
				Health = "100"
				Range = "20"
				RateOfFire = "3"
				Price = "200"
				Damage = "1"
				FreezeTime = "5"
				DecelerationIn = "10"
				SpeedBullet = "5"
				PNO = "true"
				PVO = "false"
				Freeze = "true"
				Strong = "false"
				PVOEnemy = "false"
				Splash = "false"
				Fire = "false">
			</Lvl5A>

			<Lvl5B
				Health = "100"
				Range = "5"
				RateOfFire = "3"
				Price = "200"
				Damage = "1"
				FreezeTime = "5"
				DecelerationIn = "10"
				RangeSplash = "4"
				SpeedBullet = "5"
				PNO = "true"
				PVO = "false"
				Freeze = "true"
				Strong = "false"
				PVOEnemy = "false"
				Splash = "true"
				Fire = "false">
			</Lvl5B>
		</Freeze>

		<Super>
			<Lvl1
				Health = "100"
				Range = "5"
				RateOfFire = "3"
				Price = "1000"
				Damage = "500"
				SpeedBullet = "5"
				PNO = "true"
				PVO = "false"
				Freeze = "false"
				Strong = "false"
				PVOEnemy = "false"
				Splash = "false"
				Fire = "false">
			</Lvl1>

			<Lvl2
				Health = "100"
				Range = "5"
				RateOfFire = "10"
				Price = "2000"
				Damage = "500"
				SpeedBullet = "5"
				PNO = "true"
				PVO = "false"
				Freeze = "false"
				Strong = "true"
				PVOEnemy = "false"
				Splash = "false"
				Fire = "false">
			</Lvl2>

			<Lvl3
				Health = "100"
				Range = "5"
				RateOfFire = "10"
				Price = "5000"
				Damage = "2000"
				SpeedBullet = "5"
				PNO = "true"
				PVO = "false"
				Freeze = "false"
				Strong = "true"
				PVOEnemy = "false"
				Splash = "false"
				Fire = "false">
			</Lvl3>

			<Lvl4
				Health = "100"
				Range = "20"
				RateOfFire = "10"
				Price = "10000"
				Damage = "2000"
				SpeedBullet = "5"
				PNO = "true"
				PVO = "true"
				Freeze = "false"
				Strong = "true"
				PVOEnemy = "true"
				Splash = "false"
				Fire = "false">
			</Lvl4>

			<Lvl5A
				Health = "100"
				Range = "20"
				RateOfFire = "10"
				Price = "100000"
				RangeSplash = "4"
				Damage = "20000"
				SpeedBullet = "5"
				PNO = "true"
				PVO = "true"
				Freeze = "false"
				Strong = "true"
				PVOEnemy = "true"
				Splash = "false"
				Fire = "false">
			</Lvl5A>

			<Lvl5B
				Health = "10000"
				Range = "20"
				RateOfFire = "100"
				Price = "50000"
				Damage = "2000"
				SpeedBullet = "5"
				PNO = "true"
				PVO = "true"
				Freeze = "false"
				Strong = "true"
				PVOEnemy = "true"
				Splash = "false"
				Fire = "false">
			</Lvl5B>
		</Super>

		<Splash>
			<Lvl1
				Health = "100"
				Range = "5"
				RateOfFire = "1"
				Price = "10"
				Damage = "3"
				RangeSplash = "4"
				SpeedBullet = "5"
				PNO = "true"
				PVO = "false"
				Freeze = "false"
				Strong = "false"
				PVOEnemy = "false"
				Splash = "true"
				Fire = "false">
			</Lvl1>

			<Lvl2
				Health = "100"
				Range = "5"
				RateOfFire = "1"
				Price = "20"
				Damage = "6"
				RangeSplash = "4"
				SpeedBullet = "5"
				PNO = "true"
				PVO = "false"
				Freeze = "false"
				Strong = "false"
				PVOEnemy = "false"
				Splash = "true"
				Fire = "false">
			</Lvl2>

			<Lvl3
				Health = "100"
				Range = "5"
				RateOfFire = "3"
				Price = "50"
				Damage = "6"
				RangeSplash = "4"
				SpeedBullet = "5"
				PNO = "true"
				PVO = "false"
				Freeze = "false"
				Strong = "false"
				PVOEnemy = "false"
				Splash = "true"
				Fire = "false">
			</Lvl3>

			<Lvl4
				Health = "100"
				Range = "5"
				RateOfFire = "3"
				Price = "100"
				Damage = "6"
				RangeSplash = "10"
				SpeedBullet = "5"
				PNO = "true"
				PVO = "false"
				Freeze = "false"
				Strong = "false"
				PVOEnemy = "false"
				Splash = "true"
				Fire = "false">
			</Lvl4>

			<Lvl5A
				Health = "100"
				Range = "5"
				RateOfFire = "3"
				Price = "200"
				Damage = "30"
				RangeSplash = "10"
				SpeedBullet = "5"
				PNO = "true"
				PVO = "false"
				Freeze = "false"
				Strong = "false"
				PVOEnemy = "false"
				Splash = "true"
				Fire = "false">
			</Lvl5A>

			<Lvl5B
				Health = "100"
				Range = "5"
				RateOfFire = "3"
				Price = "200"
				Damage = "6"
				RangeSplash = "10"
				SpeedBullet = "5"
				FireDamage = "10"
				TimeFire = "2"
				DamageRetryTime = "2"
				PNO = "true"
				PVO = "false"
				Freeze = "false"
				Strong = "false"
				PVOEnemy = "false"
				Splash = "true"
				Fire = "true">
			</Lvl5B>
		</Splash>

		<PVO>
			<Lvl1
				Health = "100"
				Range = "5"
				RateOfFire = "3"
				Price = "10"
				Damage = "2"
				SpeedBullet = "5"
				PNO = "false"
				PVO = "true"
				Freeze = "false"
				Strong = "false"
				PVOEnemy = "true"
				Splash = "false"
				Fire = "false">
			</Lvl1>

			<Lvl2
				Health = "100"
				Range = "5"
				RateOfFire = "3"
				Price = "20"
				Damage = "5"
				SpeedBullet = "5"
				PNO = "false"
				PVO = "true"
				Freeze = "false"
				Strong = "false"
				PVOEnemy = "true"
				Splash = "false"
				Fire = "false">
			</Lvl2>

			<Lvl3
				Health = "100"
				Range = "5"
				RateOfFire = "7"
				Price = "50"
				Damage = "5"
				RangeSplash = "4"
				SpeedBullet = "5"
				PNO = "false"
				PVO = "true"
				Freeze = "false"
				Strong = "true"
				PVOEnemy = "true"
				Splash = "false"
				Fire = "false">
			</Lvl3>

			<Lvl4
				Health = "100"
				Range = "5"
				RateOfFire = "15"
				Price = "100"
				Damage = "5"
				SpeedBullet = "5"
				PNO = "false"
				PVO = "true"
				Freeze = "false"
				Strong = "true"
				PVOEnemy = "true"
				Splash = "false"
				Fire = "false">
			</Lvl4>

			<Lvl5A
				Health = "100"
				Range = "5"
				RateOfFire = "15"
				Price = "200"
				Damage = "5"
				RangeSplash = "4"
				SpeedBullet = "5"
				PNO = "false"
				PVO = "true"
				Freeze = "false"
				Strong = "true"
				PVOEnemy = "true"
				Splash = "true"
				Fire = "false">
			</Lvl5A>

			<Lvl5B
				Health = "100"
				Range = "20"
				RateOfFire = "15"
				Price = "200"
				Damage = "10"
				SpeedBullet = "10"
				PNO = "false"
				PVO = "true"
				Freeze = "false"
				Strong = "true"
				PVOEnemy = "true"
				Splash = "false"
				Fire = "false">
			</Lvl5B>
		</PVO>

		<Buff>
			<Lvl1
				Health = "100"
				Price = "100">
			</Lvl1>

			<Lvl2
				Health = "100"
				Price = "200"
				MultiplyRange = "2">
			</Lvl2>

			<Lvl3
				Health = "100"
				Price = "500"
				Invisible = "true"
				MultiplyRange = "3"
				MultiplyDamage = "3">
			</Lvl3>

			<Lvl4
				Health = "100"
				Price = "1000"
				Invisible = "true"
				MultiplyRange = "4"
				MultiplyDamage = "4"
				Strong = "true">
			</Lvl4>

			<Lvl5A
				Health = "100"
				Price = "2000"
				Invisible = "true"
				MultiplyRange = "5"
				MultiplyDamage = "5"
				Strong = "true"
				MultiplySpeed = "5">
			</Lvl5A>

			<Lvl5B
				Health = "100"
				Price = "2000"
				Invisible = "true"
				MultiplyRange = "6"
				MultiplyDamage = "6"
				Strong = "true">
			</Lvl5B>
		</Buff>

		<Debuff>
			<Lvl1
				Health = "100"
				Price = "100"
				DebuffHp = "3">
			</Lvl1>

			<Lvl2
				Health = "100"
				Price = "200"
				DebuffHp = "10"
				PoisonDamage = "2"
                TimeBetweenDamage = "2">
			</Lvl2>

			<Lvl3
				Health = "100"
				Price = "500"
				DebuffHp = "50"
				PoisonDamage = "3"
                TimeBetweenDamage = "3"
				DbSpeed = "3">
			</Lvl3>

			<Lvl4
				Health = "100"
				Price = "1000"
				DebuffHp = "200"
				PoisonDamage = "4"
                TimeBetweenDamage = "4"
				DbSpeed = "4">
			</Lvl4>

			<Lvl5A
				Health = "100"
				Price = "2000"
				DebuffHp = "500"
				PoisonDamage = "5"
                TimeBetweenDamage = "5"
				DbSpeed = "5">
			</Lvl5A>

			<Lvl5B
				Health = "100"
				Price = "2000"
				DebuffHp = "1000"
				PoisonDamage = "6"
                TimeBetweenDamage = "6"
				DbSpeed = "6">
			</Lvl5B>
		</Debuff>

		<Gold>
			<Lvl1
				Health = "100"
				Price = "100"
				GoldGet = "1"
				GoldDelay = "1">
			</Lvl1>

			<Lvl2
				Health = "100"
				Price = "200"
				GoldGet = "2"
				GoldDelay = "1">
			</Lvl2>

			<Lvl3
				Health = "100"
				Price = "500"
				GoldGet = "5"
				GoldDelay = "1">
			</Lvl3>

			<Lvl4
				Health = "100"
				Price = "1000"
				GoldGet = "10"
				GoldDelay = "1">
			</Lvl4>

			<Lvl5A
				Health = "100"
				Price = "10000"
				GoldGet = "10"
				PercentOfGold ="10"
				GoldDelay = "1">
			</Lvl5A>

			<Lvl5B
				Health = "100"
				Price = "5000"
				GoldGet = "10"
				PercentOfEnemy ="10"
				GoldDelay = "1">
			</Lvl5B>
		</Gold>

		<Tank>
			<Lvl1
				Health = "500"
				Price = "10">
			</Lvl1>

			<Lvl2
				Health = "1000"
				Price = "20">
			</Lvl2>

			<Lvl3
				Health = "5000"
				Price = "50">
			</Lvl3>

			<Lvl4
				Health = "10000"
				Price = "100">
			</Lvl4>

			<Lvl5A
				Health = "50000"
				Price = "500">
			</Lvl5A>

			<Lvl5B
				Health = "10000"
				Price = "1000"
				HpTankBuff ="1000">
			</Lvl5B>
		</Tank>
	</Tower>

	<Enemy
		SpeedAttack="2">
		<Normal>
			<Lvl1
				Health = "10"
				Speed = "0.2"
				Gold = "50"
				Damage = "1">
			</Lvl1>

			<Lvl2
				Health = "10"
				Speed = "0.2"
				Gold = "50"
				Damage = "2">
			</Lvl2>

			<Lvl3
				Health = "10"
				Speed = "0.2"
				Gold = "50"
				Damage = "1">
			</Lvl3>

			<Lvl4
				Health = "10"
				Speed = "0.2"
				Gold = "50"
				Damage = "1">
			</Lvl4>

			<Lvl5
				Health = "10"
				Speed = "0.2"
				Gold = "50"
				Damage = "1">
			</Lvl5>
		</Normal>

		<Fly>
			<Lvl1
				Health = "10"
				Speed = "0.2"
				Gold = "50"
				Damage = "1">
			</Lvl1>

			<Lvl2
				Health = "10"
				Speed = "0.2"
				Gold = "50"
				Damage = "1">
			</Lvl2>

			<Lvl3
				Health = "10"
				Speed = "0.2"
				Gold = "50"
				Damage = "1">
			</Lvl3>

			<Lvl4
				Health = "10"
				Speed = "0.2"
				Gold = "50"
				Damage = "1">
			</Lvl4>

			<Lvl5
				Health = "10"
				Speed = "0.2"
				Gold = "50"
				Damage = "1">
			</Lvl5>
		</Fly>

		<Speed>
			<Lvl1
				Health = "10"
				Speed = "0.2"
				Gold = "50"
				Damage = "1">
			</Lvl1>

			<Lvl2
				Health = "10"
				Speed = "0.2"
				Gold = "50"
				Damage = "1">
			</Lvl2>

			<Lvl3
				Health = "10"
				Speed = "0.2"
				Gold = "50"
				Damage = "1">
			</Lvl3>

			<Lvl4
				Health = "10"
				Speed = "0.2"
				Gold = "50"
				Damage = "1">
			</Lvl4>

			<Lvl5
				Health = "10"
				Speed = "0.2"
				Gold = "50"
				Damage = "1">
			</Lvl5>
		</Speed>

		<Strong>
			<Lvl1
				Health = "10"
				Speed = "0.2"
				Gold = "50"
				Damage = "1">
			</Lvl1>

			<Lvl2
				Health = "10"
				Speed = "0.2"
				Gold = "50"
				Damage = "1">
			</Lvl2>

			<Lvl3
				Health = "10"
				Speed = "0.2"
				Gold = "50"
				Damage = "1">
			</Lvl3>

			<Lvl4
				Health = "10"
				Speed = "0.2"
				Gold = "50"
				Damage = "1">
			</Lvl4>

			<Lvl5
				Health = "10"
				Speed = "0.2"
				Gold = "50"
				Damage = "1">
			</Lvl5>
		</Strong>

		<Invisible>
			<Lvl1
				Health = "10"
				Speed = "0.2"
				Gold = "50"
				Damage = "1">
			</Lvl1>

			<Lvl2
				Health = "10"
				Speed = "0.2"
				Gold = "50"
				Damage = "1">
			</Lvl2>

			<Lvl3
				Health = "10"
				Speed = "0.2"
				Gold = "50"
				Damage = "1">
			</Lvl3>

			<Lvl4
				Health = "10"
				Speed = "0.2"
				Gold = "50"
				Damage = "1">
			</Lvl4>

			<Lvl5
				Health = "10"
				Speed = "0.2"
				Gold = "50"
				Damage = "1">
			</Lvl5>
		</Invisible>
	</Enemy>
</root>